.elementor-kit-224{--e-global-color-primary:#2F7034;--e-global-color-secondary:#FBF5E9;--e-global-color-text:#000000;--e-global-color-accent:#576F1F;--e-global-color-b4676b5:#8E9878;--e-global-color-b0eecfb:#6D7A64;--e-global-typography-primary-font-family:"Poppins";--e-global-typography-primary-font-size:35px;--e-global-typography-primary-font-weight:500;--e-global-typography-secondary-font-family:"Montserrat";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Montserrat";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-kit-224 a{color:var( --e-global-color-primary );}.elementor-kit-224 a:hover{text-decoration:underline;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-224 e-page-transition{background-color:#FFBC7D;}.site-header{padding-right:0px;padding-left:0px;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}
/*
     FILE ARCHIVED ON 05:22:07 Nov 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:47:37 Jan 31, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.725
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.067
  esindex: 0.011
  cdx.remote: 8.585
  LoadShardBlock: 79.968 (3)
  PetaboxLoader3.datanode: 180.24 (5)
  load_resource: 178.107 (2)
  PetaboxLoader3.resolve: 64.086 (2)
*/